[submodule "Sources/Imath"]
	path = Sources/Imath
	url = https://github.com/wabiverse/Imath.git
[submodule "Sources/OpenTimelineIO"]
	path = Sources/OpenTimelineIO
	url = https://github.com/wabiverse/OpenTimelineIO.git
